<ion-header>
  <ion-toolbar>
    <ion-title>Informacion del profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Nombre: {{name}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Cedula: {{id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo: {{email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefono: {{phone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carrera: {{career}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button color="success" expand="block" shape="round" (click)="cerrarModal()">
        Salir
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
