<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeTab()">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Agregar profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>

    <ion-list-header>
      <ion-label>Agregar profesor nuevo</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-input label="Cedula" labelPlacement="stacked" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nombre" labelPlacement="stacked" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Apellido" labelPlacement="stacked" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Correo" labelPlacement="stacked" type="email"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
