<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeTab()">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Agregar profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>

    <ion-list-header>
      <ion-label>Agregar profesor nuevo</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-input label="Cedula" [(ngModel)]="teacher.id" labelPlacement="floating" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nombre" [(ngModel)]="teacher.name" labelPlacement="floating" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Correo" [(ngModel)]="teacher.email" labelPlacement="floating" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Numero telefonico" [(ngModel)]="teacher.phone" labelPlacement="floating" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Carrera" [(ngModel)]="teacher.career" labelPlacement="floating" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="newTeacher(teacher)" expand="block" shape="round" color="success">
        Agregar profesor
      </ion-button>
    </ion-item>

  </ion-list>
</ion-content>
