<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeTab()">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Lista de estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-accordion-group
    *ngFor="let student of students; let i = index"
  >
    <ion-accordion value="{{student.id}}">
      <ion-item slot="header">
        <ion-label>{{student.name}} | {{student.id}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-chip (click)="viewStudent(student)" color="success" [outline]="true">
                  <ion-icon name="eye-outline"></ion-icon>
                  <ion-label>Ver</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip (click)="updateStudent(student)" color="warning" [outline]="true">
                  <ion-icon name="pencil-outline"></ion-icon>
                  <ion-label>Editar</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip (click)="deleteStudent(student.id)" color="danger" [outline]="true">
                  <ion-icon name="trash-outline"></ion-icon>
                  <ion-label>Borrar</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
