<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <ion-list-header>
      <ion-label>Administrador de Estudiantes</ion-label>
    </ion-list-header>

    <ion-item>

      <ion-button (click)="addStudent()" expand="block" shape="round">
        Agregar estudiante
      </ion-button>

    </ion-item>

    <ion-item>

      <ion-button (click)="selectAssignment()" expand="block" shape="round">
        Seleccionar cursos
      </ion-button>

    </ion-item>

    <ion-item>

      <ion-button (click)="studentList()" expand="block" shape="round">
        Ver lista de estudiantes
      </ion-button>

    </ion-item>

  </ion-list>

</ion-content>
