<ion-header>
  <ion-toolbar>
    <ion-title>Informacion del curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Nombre: {{name}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Codigo: {{id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Descripcion: {{description}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Profesor: {{teacher_id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button color="success" expand="block" shape="round" (click)="cerrarModal()">
        Salir
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
