<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeTab()">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Agregar estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form #formulario="ngForm" (ngSubmit)="newStudent()">
    <ion-list>

      <ion-list-header>
        <ion-label>Agregar estudiante nuevo</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-input label="Cedula" [(ngModel)]="student.id" labelPlacement="stacked" type="number"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Nombre Completo" [(ngModel)]="student.name" labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Correo" [(ngModel)]="student.email" labelPlacement="stacked" type="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Numero telefonico" [(ngModel)]="student.phone" labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Carrera" [(ngModel)]="student.career" labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Semestre" [(ngModel)]="student.semester" labelPlacement="stacked" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-button (click)="newStudent(student)" expand="block" shape="round" color="success">
          Agregar estudiante
        </ion-button>
      </ion-item>
  
    </ion-list>
  </form>
</ion-content>
